@charset "ISO-8859-1";

span#logoHeader {
	margin-left: 15%;
	margin-right:10%;
}

div.benvenuto{
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
}

span.taglia{
	margin-left: -5%;
}